# ── WebSocket Server ──────────────────────────────────────────────────────────
WEBSOCKET_PORT=5001
CONFIDENCE_THRESHOLD=0.7

# ── Foco RGB RadioShack (Tuya) ────────────────────────────────────────────────
# Conectarse al hotspot "S25 Ultra de Andrehi" antes de iniciar el servidor
TUYA_DEVICE_ID=ebe997370c6c715b97qsgw
TUYA_LOCAL_KEY=jU2w$ER0nHBIPS;9
TUYA_IP=10.92.117.35
TUYA_VERSION=3.5
